// Font Size  rem 사용.  html 태그에 지정안할 시 default = 16px
$font_size: (
  font_10 : 0.625rem,
  font_11 : 0.6875rem,
  font_12 : 0.75rem,
  font_13 : 0.8125rem,
  font_14 : 0.875rem,
  font_15 : 0.9375rem,
  font_16 : 1rem,       // html 기본 font-size : 16
  font_17 : 1.063rem,
  font_18 : 1.125rem,
  font_19 : 1.188rem,
  font_20 : 1.25rem,
  font_21 : 1.313rem,
  font_22 : 1.375rem, 
  font_23 : 1.438rem,
  font_24 : 1.5rem,
  font_25 : 1.563rem,
  font_26 : 1.625rem,
  font_27 : 1.688rem,
  font_28 : 1.75rem,
  font_29 : 1.813rem,
  font_30 : 1.875rem,
  font_31 : 1.938rem,
  font_32 : 2rem,
  font_33 : 2.063rem,
  font_34 : 2.125rem,
  font_35 : 2.188rem,
  font_36 : 2.25rem,
  font_40 : 2.5rem
);


// 고정컬러 
// ( 기능단위로 표현하며 고정컬러로 제공하는 것들 )
$static_colors: (
  danger:   #ff4141,  // 알림,에러,미진행 아이콘등 상태를 표현하는 컬러
  primary:  #007fff,  // 학습창의 정답, 찬성등 콘텐츠를 표현하는 컬러
  star:     #ff9c14,  // 별점 아이콘
  alert:    #e5f3ff   // 알림 : 새알림 영역 BG 상태를 표현하는 컬러
);

// Contents Color
$contents_colors: (
  type_1: #f3384f,
  type_2: #00b6e8,
  type_3: #32667d,
  type_4: #ffba00,
  type_5: #00b3c4
);


// 모노 컬러 
// ( 텍스트와 배경, 라인 등 컨텐츠 및 UI 전반에 활용되는 고정 컬러(모바일 기준)
$mono_colors: (
  mono_100: #000000,
  mono_80: rgba(#000000, 0.8),
  mono_65: rgba(#000000, 0.65),
  mono_50: rgba(#000000, 0.5),
  mono_40: rgba(#000000, 0.4),
  mono_25: rgba(#000000, 0.25),
  mono_0: #ffffff
);

// 라인컬러 
// ( 단독리스트일땐 B89 사용, 계층관계가있는 리스트일땐 B92/B85 세트로사용 , 콘텐츠 내 Index 아래 라인은 B60사용 )
// Section을 구분할 때 8dp, B95사용
$line_colors: (
  B92: #EAEAEA,
  B89: #E3E3E3,
  B85: #D9D9D9,
  B80: #CCCCCC,
  B60: #999999,
  B10: #1A1A1A,
  B95: #F2F2F2,
);

// BG 컬러
$bg_colors: (
  BG_1: #3763e0,
  BG_2: #edbd24,
  BG_3: #f7f7f7
);

// common 컬러

$com_colors: (
  B40: #b4b4b4
);