@charset "utf-8";


/*헤더*/ 
#header .btn1.prev .ico{width:28px; height:28px;display:block;background-position: left;}


.ico.prev_wh{ font-size: 0;vertical-align: middle;background: url(../img/ico/prev_wh.png) no-repeat left top;}

.mt24{margin-top: 24px;}
.mt50{margin-top: 50px;}
.mt62{margin-top: 62px;}
.mt100{margin-top: 100px;}

.fwb600{font-weight: 600;}

.c-flex{display: flex;justify-content: center;}
.radi-0{border-radius:0 !important;}