@charset "utf-8";


/*헤더 ico*/ 
#header .btn1.prev .ico{width:28px; height:28px;display:block;background-position: left;}
#header .btn1.end .ico{width:28px; height:28px;display:block;}
.ico.prev_wh{ font-size: 0;vertical-align: middle;background: url(../img/ico/prev_wh.png) no-repeat left top;}
.ico.down{ font-size: 0;vertical-align: middle;background: url(../img/ico/ic-download.png) no-repeat center;}

.pd0{padding:0 !important;}
.pb90{padding-bottom:90px ;}
.pl18{padding-left:18px;}

.mb0{margin-bottom: 0;}
.mb8{margin-bottom:8px;}
.mb12{margin-bottom:12px;}
.mb24{margin-bottom:24px;}
.mb32{margin-bottom:32px;}
.mb90{margin-bottom:90px;}

.mr8{margin-right: 8px;}
.mr12{margin-right: 12px;}

.mt24{margin-top: 24px;}
.mt50{margin-top: 50px;}
.mt62{margin-top: 62px;}
.mt100{margin-top: 100px;}

.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}

.fr{float: right;}
.fl{float: left;}

.c-flex{display: flex;justify-content: center;}
.radi-0{border-radius:0 !important;}
.hr{border-bottom:1px solid #b4b4b4; margin:24px 0;}

.cur{cursor: pointer;}